POSTGRES_HOST=localhost
POSTGRES_PORT=5436
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nina_db
PORT=4001

DATA_DIR=./data/wpp_data

# MinIO S3 Compatible
MINIO_USER=minioadmin
MINIO_PASSWORD=minioadmin
MINIO_ENDPOINT=localhost
MINIO_PORT=9003
MINIO_USE_SSL=false
MINIO_REGION=us-east-1
MINIO_BUCKET_NAME=nina